body {
    background-color: lightblue;
}

h1{
    text-align: center;
}

.spc, .msg, .msg2, .msg3 {
    background-color: #eee;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    padding: 20px;
}

.msg, .msg2, .msg3{
    display: none;
}